In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Reading data

In order to get the database of NHL team stats since 1990, we will build a web scraper using Beautiful Soup.

In [52]:
def clean_names(names):
    """Clean line breaks \n 

    Keyword arguments:
    names -- list of names to be cleaned
    """
    
    name_list = []
    for i in range(len(names)):
        name = names[i].text.split()[0]
        for j in np.arange(1, len(names[i].text.split())):
            name = name + " " + names[i].text.split()[j]
        name_list.append(name)
    return name_list

In [6]:
for num_pag in range(6):
    link = "https://scrapethissite.com/pages/forms/?page_num="+str(num_pag+1)+"&per_page=100"

    source= requests.get(link).text

    soup=BeautifulSoup(source,'html.parser')

    table = soup.find_all('table',class_='table')[0]

    names = table.find_all('td', class_='name')
    years = table.find_all('td', class_='year')
    wins = table.find_all('td', class_='wins')
    losses = table.find_all('td', class_='losses')
    ot_losses = table.find_all('td', class_='ot-losses')
    win_rates = table.find_all('td', class_ ='pct text-success')
    gfs = table.find_all('td', class_= 'gf')
    gas = table.find_all('td', class_= 'ga')
    diffs = table.find_all('td', class_= 'diff text-success')

#     nomes_lista = []
#     anos_lista = []
#     vit_lista = []
#     der_lista = []
#     ot_lista = []
#     #pct_lista = []
#     favor_lista = []
#     contra_lista = []


#     for i in range(len(names)):
#         nome = limpanomes(names[i].text)
#         nomes_lista.append(nome)

#         anos_lista.append(int(years[i].text))
#         vit_lista.append(int(wins[i].text))
#         der_lista.append(int(losses[i].text))
#         #pct_lista.append(win_rates[i].text)
#         favor_lista.append(int(gfs[i].text))
#         contra_lista.append(int(gas[i].text))

#         try:
#             ot_lista.append(ot_losses[i].text.replace("\n","").replace(" ", ""))
#         except:
#             ot_lista.append('NaN')

#     pct_lista = []
#     diffs_lista = []

#     for i in range(len(anos_lista)):
#         pct_lista.append(float(vit_lista[i] / (vit_lista[i] + der_lista[i])))
#         #print((vit_lista[i] / (vit_lista[i] + der_lista[i])))
#         diffs_lista.append(favor_lista[i] - contra_lista[i])

#     Dados = {"Team Name": nomes_lista, 'Year': anos_lista, 'OT Losses': ot_lista, 'Win %': pct_lista, "GF": favor_lista, "GA": contra_lista, "+/-": diffs_lista}
#     if num_pag == 0:
#         df = pd.DataFrame.from_dict(Dados)
#     else:
#         df = pd.concat([df, pd.DataFrame.from_dict(Dados)], ignore_index=True)
# df.loc[df["Team Name"] == "Mighty Ducksof Anaheim", 'Team Name'] = "Mighty Ducks of Anaheim"

In [5]:
df

               Team Name  Year OT Losses     Win %   GF   GA  +/-
0          Boston Bruins  1990            0.647059  299  264   35
1         Buffalo Sabres  1990            0.508197  292  278   14
2         Calgary Flames  1990            0.638889  344  263   81
3     Chicago Blackhawks  1990            0.680556  284  211   73
4      Detroit Red Wings  1990            0.472222  273  298  -25
..                   ...   ...       ...       ...  ...  ...  ...
577  Tampa Bay Lightning  2011         8  0.513514  235  281  -46
578  Toronto Maple Leafs  2011        10  0.486111  231  264  -33
579    Vancouver Canucks  2011         9  0.698630  249  198   51
580  Washington Capitals  2011         8  0.567568  222  230   -8
581        Winnipeg Jets  2011        10  0.513889  225  246  -21

[582 rows x 7 columns]